body {
	background-color: #DDD;
}

h1 {
	margin: 0;
	float: left;
	color: silver;
	font-size: 20px;
	margin-left: 50px;
}

.actions {
	margin-top: 50px;
}

.body_frame {
	height: auto;
	min-height: 600px;
	margin: 0;
	padding: 0;
	background-color: #EEF;
	overflow: hidden;
}

.logo {
	float: left;
	width: 100px;
	height: 100px;
	background-color: black;
}

.header {
	margin: 0 30px;
	background-color: #555555;
	height: 100px;
	margin-bottom: 30px;
}

.info_frame {
	padding: 0;
	margin-left: 0;
	height: 40px;
	background-color: #222;
}

.info_frame li a {
	font-weight: bold;
	font-family: "Arial,sans-serif", Helvetica, Arial, Helvetica Neue;
	color: #AAA;
	text-decoration: none;
}

.info_frame li a:hover {
	color: #FFF;
}

.info_frame li {
	margin: 10px 30px 0 0;
	padding: 0;
	float: right;
	list-style: none;
}

.header p {
	font-weight: bold;
	font-size: 70px;
	line-height: 90px;
	text-indent: 40px;
	color: #cccccc;
}

.gear_frame {
	float: left;
	width: 200px;
	height: 200px;
	margin: 30px;
}

.centerlogin {
	width: 370px;
	margin: 0 auto;
}

.error_frame {
	margin-top: 40px;
	margin-bottom: 30px;
}

.error {
	color: red;
}

.resalt {
	color: blue;
}

