<span class="span6">

  <h4>Grupo: <%= @group.name %></h4>
  
  
  <% if @new_task %>
  <p>La tarea <%=@new_task.name%> ha sido creada correctamente</p>
  <% end %>
  
  
	<% if @list && !@list.empty? %>
  <h4>Estas son las tareas del grupo seleccionado</h4>
			<ul>
			  <% @list.each do |task| %>
			  <li><%=task.name %></li>
			  <% end %>
      </ul>
		<% else %>       
		 <p>No hay tareas para el grupo seleccionado</p>
		<% end %>

  <p>     
  <input type="button" id="create_task" onClick="document.location = 'task_create?group_id=<%=@group.id%>'"
  value="Create new task" class="btn btn-inverse btn-large form_exp_submit">
  </span>
	</p>
