<div class="jumbotron subhead" id="overview">
	
	<% if @new_task %>
	<p>La tarea <%=@new_task.name%> ha sido creada correctamente</p>
	<% end %>
  
	<h2>Tareas del grupo <%= @group.name %></h2>

	<div class="well centerlogin">
		<% if @list && !@list.empty? %>
			<ul>
				<% @list.each do |task| %>
					<li><%=task.name %></li>
				<% end %>
	      	</ul>
		<% else %>       
			<p>No hay tareas en este grupo</p>
		<% end %>
		
		<div class="actions">
			<input type="button" id="create_task" onClick="document.location = 'task_create?group_id=<%=@group.id%>'" value="Crear tarea" class="btn btn-inverse form_exp_submit">
			<a href="group" class="btn" id="volver">Volver</a>
		</div>
	</div>
</div>
