<header class="jumbotron subhead" id="overview">
	<div>

		<h1><%= @type %></h1>
		<div class="well centerlogin">

			<h3> hacer la tarea de <%= @task.name %></h3>
			<form action="save_make_task" method="get">
				<input type="hidden" name="type" value="<%= @type %>"/>
				<input type="hidden" name="task_id" value="<%=@task.id%>" />
				<p>Horas: <input type="number" name="horas" /></p> 
			  <p>Minutos: <input type="number" name="minutos" /></p>	
				<input type="submit" value="Guardar" id="cargar" />
			</form>
						
		</div>
	</div>
</header>

