<div class="jumbotron subhead" id="overview">
	
	<h2><%= @type %> la tarea <%= @task.name %></h2>

	<div class="well centerlogin">
		
		<form action="save_make_task" method="get">
			<input type="hidden" name="type" value="<%= @type %>"/>
			<input type="hidden" name="task_id" value="<%=@task.id%>" />
			<p>Horas: <input type="number" name="hours" value="0"/></p> 
			<p>Minutos: <input type="number" name="minutes" value="0"/></p>
			
			<div class="actions">
	        	<input type="submit" id="submit" class="btn btn-inverse" value="Guardar" />
	        	<a href="group" class="btn" id="cancelar">Cancelar</a>
	    	</div>
		  
		</form>
	</div>
</div>


