<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well">
        <h1>Log-De-Tareas</h1>
        <p class="lead"></p><br/>
          <span class="span3">
						<a href="/login">Login</a>
            <img src="http://2.bp.blogspot.com/-AtFI4Z36UZQ/UOr0wNJCNYI/AAAAAAAAALo/k98joT7H-Zk/s1600/_SGANM%257E1.JPG">
          </span>
          <span class="span6">
            <p>Log-De-Tareas es una aplicación utilizada por docentes y alumnos para organizar tareas.</p>
            </span>
        <div style="clear:both"></div>
      </div>
  </div>
</header>

<br>

<div class="alert centered">
Gracias por tu visita. Log-De-Tareas está aún en construcción.
</div>

