<!-- Masthead
================================================== -->

<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well">
        
        <div class="gear_frame">
             <img src="image/gear.png" class="gear_img"/>
        </div><!--gear_frame-->

        <span class="span6">
        <h1>Bienvenido a la aplicaci&oacute;n</h1>
        <p class="lead">Inicia session para iniciar la gestion</p><br/>
        <input type="button" onClick="document.location = '/group'"
        value="Iniciar sesi&oacute;n" class="btn btn-inverse btn-large form_exp_submit">
        </span>
        <div style="clear:both"></div>


      </div>
  </div>
</header>

<br/>

<div class="well centered">
Gracias por tu visita. Log-De-Tareas está aún en construcción.
</div>

