

<header class="jumbotron subhead" id="overview">
    <div>
      <div class="well centerlogin">
	<form method='get' action='/groups/successful_creation' noValidate='noValidate'>
		    <%= csrf_token_field %>

	<label for='name'>Name:</label>
	<input class="span4" type='text' id='group[name]' name='group[name]' placeholder="name"/>

	<label for='description'>Description:</label>
	<textarea class="span4" type='text' id='group[description]' name='group[description]' placeholder="a description"></textarea><br/>

	<button type='submit' id="submit">Create</button> 

	</form>

    </div>
  </div>
</header>

