<span class="span6">

  
  <% if @new_group %>
  <p>El grupo <%=@new_group.name%> ha sido creado exitosamente</p>
  <% end %>
  
  
	<% if (@list != nil) && !(@list.empty?) %>
  <h4>Estos son tus grupos</h4>
			<ul>
			  <% @list.each do |group| %>
			  <li><%=group.name %>
          <input type="button" id="<%=group.name%>" onClick="document.location = 'task?group_id=<%=group.id %>'" value="ver" />
        </li>
			  <% end %>
      </ul>
  <% else %>
        <p>No tienes grupos creados</p>  
  <% end %>

  <p>     
  <input type="button" onClick="document.location = 'group_create'"
  value="Crear nuevo grupo" class="btn btn-inverse form_exp_submit"/>
  </span>
	</p>
