<span class="span6">

	<% if @list.empty? %>
		 <p>No tienes grupos creados</p>
		<% else %>

			<h1>Estos son tus grupos</h1>
			<ul>
			<% @list.each do |group| %>
			<li><%=group.name %>
			<% end %>

		<% end %>

  <p>     
  <input type="button" onClick="document.location = 'group/create'"
  value="Crear nuevo grupo" class="btn btn-inverse btn-large form_exp_submit">
  </span>
	</p>
