<span class="span6">
<h1>Estos son tus grupos</h1>
        

  <input type="button" onClick="document.location = 'group/create'"
  value="Crear nuevo grupo" class="btn btn-inverse btn-large form_exp_submit">
  </span>