<!DOCTYPE html>
<html lang="en">
<head>
  <!--bootstrap-->
    <link href="style/bootstrap.css" rel="stylesheet">
    <link href="style/bootstrap-responsive.css" rel="stylesheet">
    <script src="script/bootstrap.js"></script>
    <script src="script/bootstrap.min.js"></script>
  <!--favicon-->
    <meta property="og:image" content="image/favicon.png" />
    <link rel="shortcut icon" href="image/favicon.ico" />
  <!--general-->
    <link href="style/general-style.css" rel="stylesheet">
    <script src="script/general-script.js"></script>
    
  <title>Log de tareas</title>
</head>


<body>
  <div class="body_frame">     
      <div class="navbar info_frame">

        <h1>Log de tareas</h1>
        
        <ul>
          <% if current_account  %>
               <li><a href="/logout" title="Profile">Cerrar sesi&oacute;n</a></li>
               <li><a href="/" title="Profile"><%= current_account.friendly_name %></a></li>
               <li><a href="/" title="Inicio">Inicio</a></li>
          <% end %>
        </ul>

      </div><!--info_frame-->

    <div class="container">
      <section id="main-content">
        <%= yield %>
      </section>
    </div><!-- /container -->

  </div><!-- /body_frame -->
</body>
</html>
